/* /* Default styles for larger screens */
.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.feature {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.image img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-text {
  padding: 10px;
  width: 350px;
  text-align: center;
}

.text {
  text-align: center;
}

.text h2 {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 600;
}

.text p {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

/* Responsive Styles for smaller screens */
@media (max-width: 768px) {
  .features-container {
    flex-direction: column; /* Stack features vertically */
  }

  .feature {
    width: 100%; /* Full width for features */
  }

  .image img {
    max-width: 100%; /* Make the image responsive */
  }

  .content-text {
    width: 100%; /* Full width for feature content */
  }
}
